
<section id="contacto">
   

           <h2 class="title" style ="color: #333333;">Contacto</h2>
         <p class="subtitle"> Escríbenos directamente bajo el botón</p>
    
<%=  mail_to "marcela@tierraproducciones.cl", "Enviar email", subject: "Hola Porfavor incluye tu nombre y correo", :class=> "button button_highlight button_large" %>
        <!--<a href="#" class="button button_highlight button_large ">Contacto</a> -->

            

  

</section>