  <div class="font-effect-3d-float"></div>
  
  <section id="nosotros">
    <br>
    <div class="wrapper">
      <div class="container">
      <br><br><br><br><br><br><br>
       <h2 class="title" style="   color: #333333;
         font-family: 'Roboto', sans-serif;
         font-size: 3.8rem;
         letter-spacing: 1px;">Somos <strong>Tierra</strong>producciones</h2>
        <div class="row justify-content-between">
               <h3><strong>Nuestros primeros pasos</strong></h3><br>
                <h4>
                Tierra Producciones nace como empresa el 2009, bajo el liderazgo de su Gerente General, Marcela Donoso Cabello, la cual aporta con su experiencia de 7 años en la Organización y Producción de Eventos Corporativos y RR.PP., enfocada principalmente a prestar servicio a las  empresas del sector minero e industrial, dentro de sus programas del ámbito social y comunitario.
                </h4> 
                
            <br><br>
        </div>
        <row>
          <div class="col-md-4 ">
            <%= image_tag "rocket.png", :style => "width: 75px; max-width: 95%;" %>
            <br><h2>Misión</h2> <br>
            
                <p>
                <strong>Somos una empresa capacitada para generar soluciones comunicacionales a través de conceptos creativos y eficientes que logren posicionarnos como una alternativa diferente en el ámbito de relaciones públicas, coordinación y producción de eventos corporativos como Ceremonias, Diplomados, Simposios, Eventos artísticos y culturales.br</p> 

           </div>
          <div class="col-md-4">
            <%= image_tag "eye.png", :style => "width: 75px; max-width: 95%;" %>
            <br><h2>Visión</h2> <br>
                <p>
                Nuestra visión es ser líderes en calidad, servicios y confianza en el Norte Grande, apoyando a nuestros clientes en el logro de servicios de producción, logística y supervisión de sus eventos corporativos,
                bajo el concepto de seguridad, responsabilidad social y creatividad.</p>
          </div> 
        <div class="col-md-4">
          <%= image_tag "values.png", :style => "width: 75px; max-width: 95%;"%>
            <br><h2>Valores</h2><br>
                <p>
                Nuestra visión es ser líderes en calidad, servicios y confianza en el Norte Grande, apoyando a nuestros clientes en el logro de servicios de producción, logística y supervisión de sus eventos corporativos, bajo el concepto de seguridad, responsabilidad social y creatividad.</p>
                <!--<a href="#" class="button button_highlight button_small">Sepa más</a><br> -->
            </div>
        </row> 
     </div>
     </div>
     

  </section> <br><br><br><br><br><br>