    <section id="past-work">
         <h2 class="title" style="   color: #333333;
           font-family: 'Roboto', sans-serif;
           font-size: 3.5rem;
           letter-spacing: 1px; color: white;">Nuestra experiencia</h2>
      <div class="logos">
      
        <%= image_tag "logosreal.png",  :style => "width: 450px; max-width: 95%;"%>
        
        </div>
        <ul id="slider_buttons">
          <a href="#">
            <li class="current"></li>
          </a>
          <a href="#">
            <li></li>
          </a>
          <a href="#">
            <li></li>
          </a>
        </ul>
      

      <ul id="slider">
      
             <li></li>
            <li> </li>
            <li> </li>
      </ul>
     
    
  </section>
