    <section id="past-work">
    
      
      <h2 class="title">Nuestra experiencia</h2>
      <br>
      <div class="logos">
      
        <%= image_tag "logosreal.png",  :style => "width: 450px; max-width: 95%;"%>
        
        </div>
        <ul id="slider_buttons">
          <a href="#">
            <li class="current"></li>
          </a>
          <a href="#">
            <li></li>
          </a>
          <a href="#">
            <li></li>
          </a>
        </ul>
      

      <ul id="slider">
      
             <li></li>
            <li> </li>
            <li> </li>
      </ul>
     
    
  </section>
